{extend name="default/base" /}
{block name="title"}店铺首页 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">  
<style>
	h1,h2,h3,h4,h5,h6,p{
		color: #000;
	}
	p{text-indent: 2em;}
</style>
{/block}
{block name="header"}
	<header class="ui-header ui-header-positive wst-in-header">
	    <i class="ui-icon-return" onclick="history.back()"></i>
   </header>
{/block}
{block name="main"}
		
		<div class="container">
			<div style="height: 42px;"></div>
			
			<h3 class="text-center">金购隐私政策</h3>
			<h4 style="text-indent: 2em;">引言</h4>
			<p>金购平台重视用户的隐私，隐私权是您重要的权利。您在使用我们的服务时，我们可能会收集和使用您的相关信息。我们希望通过本《隐私政策》向您说明，在使用我们的服务时，我们如何收集、使用、储存和保护这些信息。本《隐私政策》与您所使用的金购平台的服务息息相关，希望您仔细阅读。您使用或继续使用我们的服务，即意味着同意我们按照本《隐私政策》收集、使用、储存和保护您的相关信息，本《隐私政策》属于《金购会员服务协议》不可分割的一部分。</p>
			<p>如对本《隐私政策》或相关事宜有任何问题，请通过<span style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;admin@jingomall.com （公司邮箱） 与我们联系。</span></p>
			
			<p><b>一、我们可能收集的信息</b></p>
			<p>1.我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。</p>
			<p>1.1在您注册金购会员时，您根据金购平台要求提供的个人注册信息（包括但不限于身份信息、电话号码、电子邮件或银行卡号等）</p>
			<p>1.2您自己在我们的平台留下的信息被我们记录，以及您使用我们的服务时所储存的信息（包括但不限于您的IP地址、访问日期和时间及您需求的网页记录等数据）。</p>
			<p>1.3第三方使用我们的服务时所提供有关您的共享信息。</p>
			
			<p><b>二、我们可能如何使用信息 </b></p>
			<p>1.金购平台不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和金购平台（含金购平台关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。</p>
			<p>2.金购平台亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何金购平台用户如从事上述活动，一经发现，金购平台有权立即终止与该用户的服务协议。</p>
			<p>3.为服务用户的目的，金购平台可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与金购平台合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。</p>
			
			<p><b>三、我们如何储存你的信息</b></p>
			<p>我们将尽一切可能采取适当的技术手段，保证您可以访问、更新和更正自己的注册信息或使用我们的服务时提供的其他个人信息。在访问、更新、更正和删除前述信息时，我们可能会要求您进行身份验证，以保障账户安全。</p>
			
			<p><b>四、信息安全</b></p>
			<p>1.金购平台帐号均有安全保护功能，请妥善保管您的用户名及密码信息。金购平台将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在绝对的安全。</p>
			<p>2.在使用金购平台网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是金购平台用户名及密码发生泄露，请您立即联络金购平台客服，以便金购平台采取相应措施。</p>
			
			<p><b>五、未成年人的个人信息保护</b></p>
			<p>1.我们欢迎未成年人来使用我们的产品，但未成年人在使用我们的产品前应获得法定代理人的许可，并在法定代理人的指导下阅读我们的服务协议和隐私政策。</p>
			<p>2.未成年人在我们平台的信息受到严格的保护，只有经未成年人及其法定代理人同意的情况下才能披露或公开，法律法规规定必须向特定方公开披露的情形下除外。</p>
			
			<p><b>六、更新</b></p>
			<p>我们会根据实际的需要调整修改本《隐私政策》，届时修订文本作为本《隐私政策》的一部分，《隐私政策》的修订对您产生实质影响时，我们将会以电子邮件或其他有效的方式通知您。您收到我们的通知后继续使用我们的产品或服务的，即表示同意受经修订的本《隐私政策》的约束。</p>
			
			<div style="height: 42px;"></div>
		</div>
		
{/block}

{block name="js"}
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>  
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
{/block}