{extend name="default/base" /}
{block name="title"}店铺首页 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<style>
	h1,h2,h3,h4,h5,h6,p{
		color: #000;
	}
	p{text-indent: 2em;}
	/*.fir_p{
		text-decoration: underline;
	}
	.fir_p b{
		text-decoration: none;
	}*/
</style>
{/block}
{block name="header"}
	<header class="ui-header ui-header-positive wst-in-header">
	    <i class="ui-icon-return" onclick="history.back()"></i>
   </header>
{/block}
{block name="main"}
		<div class="container">
			<div style="height: 42px;"></div>
			<h3 class="text-center">金购会员服务协议</h3>
			<p class="fir_p" style="text-decoration: underline;"><b>特别提示：</b>本协议是您与金购网络平台所有者杭州京歌科技有限公司（以下简称为“金购”）之间就金购商城服务及其关联公司的互联网服务等相关事宜所订立的协议，在使用金购平台服务之前，您应当认真阅读并遵守《金购会员注册协议》（以下简称“本协议”），请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、争议解决和法律适用条款。如您对协议有任何疑问的，应向金购客服咨询。除非你已阅读并接受本协议所有条款，否则你无权下载、安装、使用本软件，您下载安装或使用本软件即视为你已阅读并同意本协议的约束，本协议即构成对双方有约束力的法律文件。</p>
			<p style="text-decoration: underline;"><b>本协议内容中以加粗、下划线等方式显著标识的条款，请会员着重阅读。</b></p>
			
			<p><b>一．金购平台主体</b></p>
			<p>1.金购网络服务平台的所有者是杭州京歌科技有限公司，杭州京歌科技有限公司是经杭州市上城区市场监督管理局注册登记的私营有限责任公司。</p>
			<p>2.金购平台的各项网络电子服务所有权及经营权归杭州京歌科技有限公司所有。</p>
			
			<p><b>二．会员的注册确认</b></p>
			<p>1.会员在金购平台注册会员时，需阅读并同意本协议，并在点击同意并继续后方可进行下一步操作成为金购会员，届时您不应以未阅读本协议的内容或者未获得本协议电子版等理由，主张本协议无效，或要求撤销本协议。</p>
			<p>2.会员成为金购会员后，即可享受金购会员的相应权利并承担相应的义务，并承诺能独立承担相应的责任。</p>
			<p>3.无民事行为能力人或限制性行为能力人需在法定代理人的监护下注册金购会员，然后再使用本平台。</p>
			<p>4.金购保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭会员账户、清除或编辑内容或取消订单的权利。</p>
			
			<p><b>三．会员注册及账户管理</b></p>
			<p>1.会员注册会员时需如实提供个人身份信息及联系方式，不得擅自编造虚假会员信息或无权使用他人身份信息，对此造成的损失由注册会员独自承担。无民事行为能力人或限制性民事行为能力人因此造成平台或第三方损失的，平台将追究法定代理人或监护人的民事责任；</p>
			<p>2.注册会员后，如有注册信息变更的，需及时进行信息变更，若因会员注册信息未能及时变更导致平台相关邮件、信件、信息及时向会员送达的，由注册会员独自承担全部责任；</p>
			<p>3.会员在本平台进行浏览、下单购物等活动时，涉及会员真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本平台将予以严格保密，除非得到会员的授权或法律另有规定，否则不会向外界披露会员隐私信息；</p>
			<p style="text-decoration: underline;">4.会员同意，金购拥有通过邮件、短信电话等形式，向在本平台注册、购物会员、收货人发送订单信息、促销活动等告知信息的权利；</p>
			<p style="text-decoration: underline;">5.会员不得将在本平台注册获得的账户借给他人使用，否则会员应承担由此产生的全部责任，并与实际使用人承担连带责任；</p>
			
			<p><b>四．会员注意事项</b></p>
			<p>
				<b>1.你理解并同意：本软件的某些功能可能会让第三方知晓会员的信息，例如：会员在本平台的好友可以查询会员头像、名字等可公开的个人资料。</b>
			</p>
			<p>
				<b>2.你理解并同意：为了向你提供有效的服务，本软件会利用你终端设备的处理器和带宽等资源。本软件使用过程中可能产生数据流量的费用，会员需自行向运营商了解相关资费信息，并自行承担相关费用。</b>
			</p>
			<p>
				<b>3.会员在使用本软件及服务时，须自行承担如下来自金购不可掌控的风险内容，包括但不限于：</b>
			</p>
			<p>
				<b>3.1 由于不可抗拒因素可能引起的个人信息丢失、泄漏等风险；</b>
			</p>
			<p>
				<b>3.2 会员必须选择与所安装终端设备相匹配的软件版本，否则，由于软件与终端设备型号不相匹配所导致的任何问题或损害，均由会员自行承担；</b>
			</p>
			<p>
				<b>3.3 会员在使用本软件访问第三方网站时，因第三方网站及相关内容所可能导致的风险，由会员自行承担；</b>
			</p>
			<p>
				<b>3.4 会员发布的内容被他人转发、分享，因此等传播可能带来的风险和责任；</b>
			</p>
			<p>
				<b>3.5 由于无线网络信号不稳定、无线网络带宽小等原因，所引起的金购平台登录失败、资料同步不完整、页面打开速度慢等风险。</b>
			</p>
			<p>
				<b>4.你理解并同意金购将会尽力保障你在本软件及服务中的数据存储安全，但是，金购并不能就此提供完全保证，包括但不限于以下情形：</b>
			</p>
			<p>
				<b>4.1 金购不对你在本软件及服务中相关数据的删除或储存失败负责；</b>
			</p>
			<p>
				<b> 4.2 金购有权根据实际情况自行决定单个会员在本软件及服务中数据的最长储存期限，并在服务器上为其分配数据最大存储空间等。你可根据自己的需要自行备份本软件及服务中的相关数据；</b>
			</p>
			<p>
				<b>4.3如果你停止使用本软件及服务或服务被终止或取消，金购可以从服务器上永久地删除你的数据。服务停止、终止或取消后，金购没有义务向你返还任何数据。</b>
			</p>
			
			<p><b>五．平台使用规范</b></p>
			<p>1.金购会员在使用本平台过程中，不得发表颠覆国家政权的煽动性言论，实施的所有行为需遵守国家法律法规的相关规定。不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>
			<p>2.不得损害他人的合法权益，不违背社会的公序良俗或公共道德；</p>
			<p>3.不得发表淫秽信息、辱骂他人信息、恶意中伤他人信息等损害他人利益的不正当信息；</p>
			<p>4.不得利用本平台从事网络赌博、洗钱、窃取商业秘密、窃取个人信息等犯罪行为；</p>
			<p>5.不得干扰本平台的正常运转，不得侵入本平台及国家计算机信息系统；</p>
			<p>6.遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。</p>
			<p>7.不以虚构或歪曲事实的方式不当评价其他会员，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高（降低）其他会员的信用度。</p>
			<p>本平台保有删除站内各类不符合法律政策或不真实的信息内容而无须通知会员的权利。</p>
			<p>若会员未遵守以上规定的，本平台有权作出独立判断并采取暂停或关闭会员帐号等措施。会员须对自己在网上的言论和行为承担法律责任。</p>
			
			<p><b>六．商品信息</b></p>
			<p>本平台上的商品价格、数量、是否有货等商品信息随时都有可能发生变动，本平台不作特别通知。由于网站上商品信息的数量极其庞大，虽然本平台会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本平台网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解；金购欢迎纠错，并会视情况给予纠错者一定的奖励。</p>
			<p>为表述便利，商品和服务简称为;商品;或;货物;。</p>
			
			<p><b>七．订单</b></p>
			<p>1.在您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与会员本人不一致的，收货人的行为和意思表示视为会员的行为和意思表示，会员应对收货人的行为及意思表示的法律后果承担连带责任。</p>
			<p>2.除法律另有强制性规定外，双方约定如下：本平台上销售方展示的商品和价格等信息仅仅是交易信息的发布，您下单时须填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向销售方发出的交易诉求；销售方收到您的订单信息后，只有在销售方将您在订单中订购的商品从仓库实际直接向您发出时（以形成快递单号为准），方视为您与销售方之间就实际直接向您发出的商品建立了交易关系；如果您在一份订单里订购了多种商品并且销售方只给您发出了部分商品时，您与销售方之间仅就实际直接向您发出的商品建立了交易关系；只有在销售方实际直接向您发出了订单中订购的其他商品时，您和销售方之间就订单中该其他已实际直接向您发出的商品才成立交易关系。您可以随时登录您在本平台注册的账户，查询您的订单状态。</p>
			<p>3.由于市场变化及各种以合理商业努力难以控制的因素的影响，本平台无法保证您提交的订单信息中希望购买的商品都会有货；如您拟购买的商品，发生缺货，您有权取消订单。</p>
			
			<p><b>八．配送</b></p>
			<p>1.销售方将会把商品（货物）送到您所指定的收货地址，所有在本平台上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。</p>
			<p>2.因如下情况造成订单延迟或无法配送等，销售方不承担延迟配送的责任：</p>
			<p>（1）会员提供的信息错误、地址不详细等原因导致的；</p>
			<p>（2）货物送达后无人签收，导致无法配送或延迟配送的；</p>
			<p>（3）情势变更因素导致的；</p>
			<p>（4）不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。</p>
			
			<p><b>九．知识产权条款</b></p>
			<p>1.杭州京歌科技有限公司是本平台的所有者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本平台的内容进行修改，并在本平台张贴，无须另行通知会员。在法律允许的最大限度范围内，杭州京歌科技有限公司对本协议及本平台内容拥有解释权。</p>
			<p>2.除法律另有强制性规定外，未经金购明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本平台的信息内容，否则，金购有权追究其法律责任。</p>
			<p>3.本平台所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是金购或其内容提供者的财产，受中国和国际版权法的保护。本平台上所有内容的汇编是金购的排他财产，受中国和国际版权法的保护。本平台上所有软件都是金购或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。</p>
			
			<p><b>十.责任限制及责任范围</b></p>
			<p style="text-decoration: underline;"><b>1.金购负责按"现状"和"可得到"的状态向您提供金购平台服务。但金购对金购平台服务不作任何明示或暗示的保证，包括但不限于金购平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，金购也不对金购平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。</b></p>
			<p style="text-decoration: underline;"><b>2.您了解金购平台上的信息系用户自行发布，且可能存在风险和瑕疵。金购平台仅作为交易地点。金购平台仅作为您获取物品或服务信息、物色交易对象、就物品和/或服务的交易进行协商及开展交易的场所，但金购无法控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易各方履行其在贸易协议中各项义务的能力。您应自行谨慎判断确定相关物品及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。</b></p>
			<p>3.除非法律法规明确要求，或出现以下情况，否则，金购没有义务对所有用户的信息数据、商品和服务信息、交易行为以及与交易有关的其它事项进行事先审查：</p>
			<p>a)金购有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形。</p>
			<p>b)金购有合理的理由认为用户在金购平台的行为涉嫌违法或不当。</p>
			
			<p><b>十一．协议变更</b></p>
			<p>金购有权根据国家法律及政策变化的需要不时地制订、修改本协议及各类规则，并以网站公示的方式进行变更公告，无需另行单独通知您。变更后的协议和规则一经在网站公布后，立即或在公告明确的特定时间自动生效。若您在前述变更公告后继续使用金购平台服务的，即表示您已经阅读、理解并接受经修订的协议和规则。若您不同意相关变更，应当立即停止使用金购平台服务。</p>
			
			<p><b>十二．法律解释与诉讼管辖</b></p>
			<p>1.本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区法律。</p>
			<p style="text-decoration: underline;"><b>2.如注册会员与平台因本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向杭州京歌科技有限公司（金购平台）所在地人民法院提起诉讼。</b></p>
			
			<p><b>十三．协议的解除或终止</b></p>
			<p>1.您同意，金购有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部金购平台服务，暂时冻结或永久冻结（注销）您的账户在金购平台的权限，且无须为此向您或任何第三方承担任何责任。</p>
			<p>2.出现以下情况时，金购有权直接以注销账户的方式终止本协议，并有权永久冻结（注销）您的账户在金购平台的权限和收回账户对应的金购昵称：</p>
			<p>a)金购终止向您提供服务后，您涉嫌再一次直接或间接以他人名义注册为金购用户的；</p>
			<p>b)您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或金购以其它联系方式通知您更改电子邮件信息，而您在金购通知后三个工作日内仍未更改为有效的电子邮箱的。</p>
			<p>c)您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；</p>
			<p>d)本协议（含规则）变更时，您明示并通知金购不愿接受新的服务协议的；</p>
			<p>e)其它金购认为应当终止服务的情况。</p>
			<p>3.您的账户服务被终止或者账户在金购平台的权限被永久冻结（注销）后，金购没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</p>
			<p>4.您同意，您与金购的合同关系终止后，金购仍享有下列权利：</p>
			<p>a）继续保存您的用户信息及您使用金购平台服务期间的所有交易信息。</p>
			<p>b)您在使用金购平台服务期间存在违法行为或违反本协议和/或规则的行为的，金购仍可依据本协议向您主张权利。</p>
			<p>5.金购中止或终止向您提供金购平台服务后，对于您在服务中止或终止之前的交易行为依下列原则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保金购免于因此产生任何损失或承担任何费用：</p>
			<p>a)您在服务中止或终止之前已经与其他会员达成买卖合同，但合同尚未实际履行的，金购有权删除该买卖合同及其交易商品或服务的相关信息；</p>
			<p>b)您在服务中止或终止之前已经与其他会员达成买卖合同且已部分履行的，金购可以不删除该项交易，但金购有权在中止或终止服务的同时将相关情形通知您的交易对方。</p>
			
			<p><b>十四．其它</b></p>
			<p>1.金购网站所有者是指在政府部门依法许可或备案的金购网站经营主体。</p>
			<p>2.金购尊重会员和消费者的合法权利，本协议及本网站上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为会员和消费者提供服务。本平台欢迎会员和社会各界提出意见和建议，金购将虚心接受并适时修改本协议及本平台上的各类规则。</p>
			<p>3.您点击本协议下方的;同意并继续;按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。</p>
			
			<div style="height: 42px;"></div>
		</div>
{/block}
{block name="js"}
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>  
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
{/block}