{extend name="default/base" /}
{block name="title"}确认订单 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__MOBILE__/css/settlement.css?v={$v}">
{/block}
{block name="header"}
    <header style="background:#ffffff;" class="ui-header ui-header-positive wst-header">
    	<a href="{:url('mobile/carts/index')}"><i class="ui-icon-return"></i></a><h1>确认订单</h1>
    </header>
{/block}
{block name="footer"}
		{/* 大加载 */}
		<div class="ui-loading-block" id="Loadl">
		    <div class="ui-loading-cnt">
		        <i class="ui-loading-bright"></i>
		        <p id="j-Loadl">正在加载中...</p>
		    </div>
		</div>
        <footer class="ui-footer wst-footer-btns" style="height:85px; border-top: 1px solid #e8e8e8;" id="footer">
			<div class="wst-se-total">应付总金额：<span id="totalMoney">¥{$carts['goodsTotalMoney']}</span></div>
			<div class="wst-se-confirm"><button class="button" onclick="javascript:quickSubmitOrder();">确定</button></div>
        </footer>
{/block}
{block name="main"}
     <input type="hidden" name="" value="2" id="sign" autocomplete="off">
     <section class="ui-container">
	    {if($carts['carts'])}
	    {volist name="$carts['carts']" id="ca"}
		<div class="wst-se-sh">
			<p class="ui-nowrap-flex shopn" shopId="{$ca['shopId']}">{$ca['shopName']}</p>
			{volist name="ca['list']" id="li"}
			<ul class="ui-row goods">
			    <li class="ui-col ui-col-25">
			    	<div class="img j-imgAdapt">
				    	<a href="javascript:void(0);" onclick="javascript:WST.intoGoods({$li['goodsId']});">
				    	<img src="__ROOT__/{:WSTImg($li['goodsImg'],3)}" title="{$li['goodsName']}">
				    	</a>
			    	</div>
			    </li>
			    <li class="ui-col ui-col-75">
			    	<ul class="ui-row info">
			    		<li class="ui-col ui-col-75">
			    			<div class="name"><p class="names">{$li['goodsName']}</p>
			    			</div>
			    		</li>
					    <li class="ui-col ui-col-25"><p class="price">¥{$li['shopPrice']}</p><p class="number">×{$li['cartNum']}</p></li>
					</ul>
			    </li>
			</ul>
			{/volist}
			<div class="cost">
				<div>店铺合计：<span>¥{php}echo sprintf("%.2f", $ca['goodsMoney']);{/php}</span></div>
			</div>
			<div class="remarks">
			<textarea id="remark_{$ca['shopId']}" autocomplete="off" placeholder="填写订单备注："></textarea>
			</div>
		</div>
		{/volist}
		{else}
			<p class="ui-nowrap-flex shopn">您还没有添加商品哦，快去逛逛吧~</p>
		{/if}
		<ul class="ui-list ui-list-text ui-list-link ui-list-active wst-se-mode">
		    <li class="mode" onclick="javascript:dataShow('payments');">
		        <h4 class="ui-nowrap">支付方式</h4>
		        <div class="ui-txt-info" id="paymentst">{if !empty($payments['1'])}{$payments['1']['0']['payName']}{/if}</div>
		    </li>
		    <li class="{if(WSTConf('CONF.isOpenScorePay')==1)}mode{/if}" onclick="javascript:dataShow('invoices');">
		        <h4 class="ui-nowrap">发票信息</h4>
		        <div class="ui-txt-info" id="invoicest">不开发票</div>
		    </li>
		    {if(WSTConf('CONF.isOpenScorePay')==1)}
		   	<li class="mode" onclick="javascript:dataShow('score');">
		        <h4 class="ui-nowrap">积分支付</h4>
		        <div class="ui-txt-info" id="scoret">否</div>
		    </li>
		    {/if}
		</ul>
     </section>
{/block}
{block name="include"}
{/* 遮盖层  */}
<div class="wst-cover" id="cover"></div>
{/* 支付方式 */}
<input type="hidden" name="" value="{if !empty($payments['1'])}1{/if}" id="paymentsh" autocomplete="off">
<input type="hidden" name="" value="{if !empty($payments['1'])}{$payments['1']['0']['payCode']}{else}{$payments['0']['0']['payCode']}{/if}" id="paymentsw" autocomplete="off">
<div class="wst-fr-box frame" id="payments">
	<div class="title"><span>支付方式</span><i class="ui-icon-close-page" onclick="javascript:dataHide('payments');"></i><div class="wst-clear"></div></div>
	<div class="content" id="content">
    {if !empty($payments)} 
          {if !empty($payments['1'])}
          {volist name="$payments['1']" id="pay" key="paykey"}
          <ul class="ui-list" onclick="javascript:onSwitch(this);">
             <li><div class="wst-list-infose1"><span>{$pay['payName']}</span></div></li>
             <i class="ui-icon-push payments_{$pay['payCode']} ui-icon-checked-s" payCode="{$pay['payCode']}" mode="{$pay['isOnline']}" word="{$pay['payName']}"></i>
          </ul>
          {/volist}
          {/if}
    {/if}
	</div>
	<button class="button" onclick="javascript:inDetermine('payments');">确定</button>
</div>
{/* 发票信息 */}
<input type="hidden" name="" value="0" id="invoicesh" autocomplete="off">
<div class="wst-fr-box frame" id="invoices">
	<div class="title"><span>发票信息</span><i class="ui-icon-close-page" onclick="javascript:dataHide('invoices');"></i><div class="wst-clear"></div></div>
	<div class="content" id="content">
         <ul class="ui-list" onclick="javascript:onSwitch(this,0);">
             <li><div class="wst-list-infose1"><span>不开发票</span></div></li>
             <i class="ui-icon-push invoices0 ui-icon-checked-s wst-active" mode="0" word="不开发票"></i>
         </ul>
		 <div class="wst-se-line"><p></p></div>
         <ul class="ui-list" onclick="javascript:onSwitch(this,1);">
             <li><div class="wst-list-infose1"><span>需开发票</span></div></li>
             <i class="ui-icon-push invoices1 ui-icon-unchecked-s" mode="1" word="需开发票"></i>
         </ul>
         <div class="wst-fr-invoice" id="j-invoice" style="display:none;">
         	<p>发票抬头：</p>
         	<textarea id="invoiceClient" autocomplete="off" placeholder=""></textarea>
         </div>
	</div>
	<button class="button" onclick="javascript:inDetermine('invoices');">确定</button>
</div>
{/* 积分支付 */}
<input type="hidden" name="" value="0" id="scoreh" autocomplete="off">
<div class="wst-fr-box frame" id="score">
	<div class="title"><span>积分支付</span><i class="ui-icon-close-page" onclick="javascript:dataHide('score');"></i><div class="wst-clear"></div></div>
	<div class="content" id="content">
         <ul class="ui-list" onclick="javascript:onSwitch(this);">
             <li><div class="wst-list-infose1"><span>是</span></div></li>
             <i class="ui-icon-push score1 ui-icon-checked-s wst-active" mode="1" word="是"></i>
         </ul>
		 <div class="wst-se-line"><p></p></div>
         <ul class="ui-list" onclick="javascript:onSwitch(this);">
             <li><div class="wst-list-infose1"><span>否</span></div></li>
             <i class="ui-icon-push score0 ui-icon-unchecked-s" mode="0" word="否"></i>
         </ul>
         <div class="wst-fr-score">（可用<span id="userOrderScore">{$userOrderScore}</span>个积分，可抵<span>¥<span id="userOrderMoney">{$userOrderMoney}</span></span>）</div>
	</div>
	<button class="button" onclick="javascript:inDetermine('score');">确定</button>
</div>
{/block}
{block name="js"}
<script type='text/javascript' src='__MOBILE__/js/jquery.min.js'></script>
<script type='text/javascript' src='__MOBILE__/js/settlement.js?v={$v}'></script>
{/block}