{extend name="base" /}
{block name="css"}
<style>
body{overflow:hidden}
</style>
{/block}
{block name="js"}
<script src="__ADMIN__/js/wstgridtree.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/wxmenus/wxmenus.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){initGrid();inView();})
</script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
{if WSTGrant('WX_ZDYCD_01')}
   <button class="btn btn-green f-right" onclick='javascript:toEdit(0,0)'>新增</button>
{/if}
{if WSTGrant('WX_ZDYCD_00')}
   <button class="btn btn-green f-right" style="margin-right:10px;" onclick='javascript:adSynchro();'>同步到微信菜单</button>
   <button class="btn btn-green f-right" style="margin-right:10px;" onclick='javascript:wxSynchro();'>与微信菜单同步</button>
{/if}
   <div style='clear:both'></div>
</div>
<div class="wst-views">
	<div class="reveal">
		<div class="revealt"></div>
		<div class="revealb"><i></i><div class="ui" id="list"></div></div>
	</div>
</div>
<div class="wst-maingr" id="maingrid"></div>
{/block}