@CHARSET "UTF-8";
.wst-header .cart{
	width: 40px;
	height: 40px;
	position: absolute;
    right: 38px;
    background: url(../img/icon_spxq.png) -10px -4px no-repeat;
    background-size: 497%;
}
.wst-header .cart span{
	height: 12px;
	line-height: 12px;
	font-size:0.11rem;
	position: absolute;
	top:6px;
	right: 8px;
	min-width: 12px;
	text-align: center;
	border-radius:5px;
	color: #ffffff;
	background: #e60b49;
}
.wst-header .share{
	width: 40px;
	height: 40px;
	position: absolute;
    right: 0px;
    background: url(../img/fenxiang.png) 2px 8px no-repeat;
    background-size: 60%;
}

#goods1{
	border-bottom: 0;
}
#goods3 .comment-m{
	width: 100%;
	font-size: 0.18rem;
	text-align: center;
	height: 44px;
	line-height: 44px;
	background: #FFFFFF;
	border-bottom: 1px solid #E8E8E8;
	position: fixed;
	top: 0px;
}
#goods3 .em{
	font-size: 40px;
	text-align: right;
	line-height: 44px;
	position: absolute;
	left: 10px;
	color: #999999;
}
.wst-go-name{
	font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
	line-height: 21px;
	color: #323333;
	text-align: center;
    background:#ffffff;
}
.wst-go-price{
	/*padding:10px;*/
	background:#ffffff;
	font-family: "Microsoft Yahei";
}
.wst-go-price p{
	font-size:0.15rem;
	color: #707070;
}
.wst-go-price .discount:after{
	content: "";
	height: 0;
	width: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
.wst-go-price .discount{
	height: 26px;
	margin: 20px 0 10px 0;
	text-align: center;
}
.wst-go-price .price{
	float: left;
	width: 50%;
	height: 26px;
	text-align: right;
	color: #e60b49;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	vertical-align: top;
}
.wst-go-price .member{
	float: left;
	width: 62px;
	height: 26px;
	border-radius: 6px;
	font-size: 14px;
	border: 1px dashed #e60b49;
	text-align: center;
	color: #e60b49;
	line-height: 26px;
	vertical-align: middle;
	margin-left: 18px;
	box-sizing: border-box;
}
.wst-go-price .market{
	display:block;
	text-align: center;
	font-size: 12px;
	color: #999999;
	margin-bottom: 12px;
}

.wst-go-price .tips{
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	display: flex;
	height: 35px;
	justify-content: space-around;
	line-height: 35px;
	vertical-align: middle;
	box-sizing: border-box;
}
.wst-go-price .tips>span{
	display: inline-block;
	height: 35px;
	font-size: 16px;
	color: #666666;
	text-align: center;
}

.wst-go-price .ensure em{
	display: inline-block;
	vertical-align: text-bottom;
	width: 22px;
	height: 22px;
	background: url("../img/gou_png.png") no-repeat;
	margin-right: 8px;
}
.wst-go-price .ensure span:first-child{
	margin-left: 20px;
}
.wst-go-price .ensure span:last-child{
	margin-left: 28px;
	margin-right: 5px;
}
.wst-go-price .follow,.wst-go-price .nofollow{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.wst-go-price .follow{
    background: url(../img/icon_spxq.png) -159px -7px no-repeat;
    background-size: 543%;
}
.wst-go-price .nofollow{
    background: url(../img/icon_spxq.png) -115px -7px no-repeat;
    background-size: 543%;
}
.wst-go-ul{
	margin:0;
}
.wst-go-ul li{
	color: #3d3d3d;
	margin-left: 0px;
	/*padding-left:10px;*/
	padding: 10px 15px;
	border-bottom: 1px solid #edebeb;
}
.wst-go-ul li.active{
	padding: 10px 15px;
}
.wst-go-ul li.activity{
	border-top: 2px solid #F2F2F2;
}
.wst-go-ul li.activity:after{
	content: "";
	display: block;
	clear: both;
	width: 0;
	height: 0;
	visibility: hidden;
}
.wst-go-ul .activity .word{
	font-size: 15px;
	color: #666;
}
.wst-go-ul .activity .coupon{
	margin-top: 8px;
}
.wst-go-ul .activity .coupon:after{
	content: "";
	width: 0;
	height: 0;
	clear: both;
	visibility: hidden;
	display: block;
}
.wst-go-ul .activity .coupon div{
	float: left;
	margin-right: 10px;
	border: 1px solid #e60b49;
	border-radius: 5px;
	text-align: center;
	color: #e40b49;
	width: 25%;
	font-size: 10px;
}
.wst-go-ul .icon{
	display: inline-block;
	width: 12px;
	color: #dbdada;
	height: 21px;
	line-height: 21px;
	font-size:0.35rem;
	background: url("../img/detail-go.png") 0  0 no-repeat;
	background-size: 80%;
}
.score .ui-col{
	box-sizing: border-box;
	border: 1px solid #333;
	color: #333;
	border-radius: 8px;
	width: 80px;
	height: 36px;
	margin-right: 10px;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}
.wst-go-ul .word{
	color: #707070;
}
.wst-go-ul .line,.wst-go-shop .line{
	color: #dbdada;
	padding:0px 5px;
}
.wst-go-ul .red,.wst-go-shop .score .red{
	color: #e60b49;
}
.wst-go-shop{
	padding-bottom:10px;
}
.wst-go-shop img{
	width: 52px;
    border-radius: 1000px;
}
.wst-go-shop .info{
	position: relative;
}
.wst-go-shop p{
	color:#59595c;
	font-size: 0.14rem;
	/*height: 24px;*/
	line-height: 24px;
}
.wst-go-shop .name{
	/*position: absolute;
	left:0px;
	top:12px;
	font-size: 0.165rem;*/
}
.wst-go-shop .name2{
	position: absolute;
	left:0px;
	top:35px;
	width: 200px;
}
.wst-go-shop .score{
	padding:8px 0px;
	font-size: 0.14rem;
	text-align: center;
}

#footer .ui-row-flex{
	position: relative;
	height: 45px;
	width: 100%;
}
#footer .add{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 15px;
	top: -50px;
	background: url("../img/jiahao_png.png") no-repeat;
	background-size: 100%;
}
#footer .ui-row-flex .wst-go-icon,#footer .ui-row-flex .wst-goods_buy{
	/*width: 50%;*/
	width: 0;
	height: 100%;
}
.wst-go-goods{
	float: left;
	width: 28.333333%;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    font-size: 0.158rem;
    background: #ffffff;
    box-shadow: 0 1px 2px #e0e0e0;
}
.wst-go-goods .img{
	float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}
.wst-go-goods .img a{
	width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.wst-go-goods .img a img{
	max-width: 100px;
    max-height: 100px;
}
.wst-go-goods .name{
    float: left;
    width: 100%;
    height: 42px;
    margin-top: 2px;
}
.wst-go-goods .info{
	float: left;
	width: 100%;
	margin-top:3px;
}
.wst-go-goods .info .price{
	float: left;
	font-size:0.175rem;
	color:#e60b49;
}
.wst-go-top{
	color:#bebebe;
	font-size:0.175rem;
	text-align: center;
	height: 26px;
	line-height: 26px;
	background:#ffffff;
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
}
.wst-go-icon .icon,.wst-go-icon .but{
	float:left;
	width: 50%;
	height: 60px;
	/*margin-left: 25px;*/
	color:#59595c;
	position: relative;
	box-sizing: border-box;
}
.wst-go-icon .icon a{
	width: 20px;
	height: 25px;
	display: block;
}
.wst-go-icon .img{
	width: 20px;
	height: 20px;
	position: absolute;
	left:0;
	top:0;
	margin-top: 5px;
	margin-left: 25px;
}
.wst-go-icon .tel{
    background: url("../img/kefu_png.png")  no-repeat;
	background-size: 100%;
}
.wst-go-icon .shop{
    background: url("../img/dianpu_png.png")  no-repeat;
	background-size: 100%;
}
.wst-go-icon .follow{
    background: url("../img/icon_gz.png")  no-repeat;
	background-size: 100%;
}
.wst-go-icon .nofollow{
	background: url("../img/shoucang_png.png")  no-repeat;
	background-size: 100%;
}
.wst-go-icon .word{
	width: 30px;
	height: 15px;
	position: absolute;
	left:-2px;
	bottom:20px;
	font-size:14px;
	text-align: center;
	margin-left: 22px;
}
.wst-goods_buy{
	height: 60px;
}
.wst-goods_buyl,.wst-goods_buyr{
	float:left;
	width: 50%;
    height: 45px;
    font-size:0.15rem;
    color: #ffffff;
	text-align: center;
}
.wst-goods_buyl{
	background:#ef5480;
	border-bottom:1px solid #ef5480;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.wst-goods_buyl:not(.disabled):not(:disabled):active, .wst-goods_buyl.active {
	color:#fbf6ee;
	background:#f3c77c;
	background-clip: padding-box;
}
.wst-goods_buyr{
	background:#e60b49;
	border-bottom:1px solid #e60b49;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.wst-goods_buyr:not(.disabled):not(:disabled):active, .wst-goods_buyr.active {
	color:#fbd6d6;
	background:#f25a5b;
	background-clip: padding-box;
}
.wst-goods_buym{
	float:left;
	margin-right:0px;
	width: 96%;
    height: 35px;
    font-size:0.15rem;
    color: #ffffff;
    background:#e60b49;
	border-bottom:1px solid #e60b49;
	border-radius:3px;
}
.wst-go-shop .comment{border-bottom: 1px solid #666;}
.wst-go-shop .comment .head{
	height: 60px;
}
.wst-go-shop .comment .head img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.wst-go-shop .comment .nickname{
	display: inline-block;
	height: 60px;
	text-align: center;
	line-height: 60px;
	vertical-align: top;
	font-size: 18px;
	color: #333;
	margin-left: 24px;
}
.wst-go-shop .comment .describe{
	margin-top: 14px;
	margin-right: 10px;
	font-size: 14px;
	color: #666666;
}
.wst-go-shop .comment .time{
	font-size: 14px;
	color: #666;
	/*margin: 10px 0 18px;*/
}
.wst-go-shop .comment .imgshow{
	margin-bottom: 28px;
}
.wst-go-shop .comment .imgshow img{
	width: 90px;
	height: 90px;
	margin-right: 12px;
	border-radius: 0;
}
.seller .head{
	/*margin-top: 18px;*/
	display: flex;
	align-items: center;
	height: 80px;
	/*width: 100%;*/
	padding-left: 15px;
	-webkit-box-shadow: 0 1.5px 10px -5px #666666 inset;
	-moz-box-shadow: 0 1.5px 10px -5px #666666 inset;
	box-shadow: 0 1.5px 10px -5px #666666 ;
	position: relative;
}
.ui-list-info p {
    color: #333;
    font-weight: bold;
    font-size: 18px; !importent
}
.seller .head .collection{
	position: absolute;
	right: 50px;
	top: 27px;
	/*z-index: 1000;*/
}
.head .icon{
	display: inline-block;
    width: 12px;
    color: #dbdada;
    height: 21px;
    background: url(../img/detail-go.png) 0 0 no-repeat;
    background-size: 80%;
    position: absolute;
    right: 15px;
    top: 29px;
}
.seller .nickname{
	display: inline-block;
	height: 70px;
	line-height: 70px;
	vertical-align: top;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.seller .collection{
	border: 1px solid #999;
	border-radius: 5px;
	color: #999;
	font-size: 12px;
	padding: 3px 10px;
}
.seller img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.seller i{
	background: url("../img/youjiantou_xiao_png.png") no-repeat;
	width: 12px;
	height: 26px;
	margin-left: 15px;
	display: inline-block;
}
/*.seller .detail{margin-top: 20px;}*/
.seller .detail ul:after{
	content: "";
	clear: both;
	width: 0;
	height: 0;
	display: block;
	visibility: hidden;
}
.seller .detail li{
	float: left;
	width: 50%;
	margin: 0;
	/*padding: 0 10px;*/
	color: #666666;
	font-size: 16px;
	text-align: center;
	box-sizing: border-box;
}
.seller .detail li.active{
	color: #e60b49;
	border-bottom: 2px solid #e60b49;
	background: #ffffff;
	/*padding-left: 0;*/
}
.wst-fav_but{
	width: 23px;
	height:48px;
	border-radius:0;
	border:none;
  	background-clip: padding-box;
}
.wst-go-details{
	font-size: 0.16rem;
    padding: 8px 10px 15px 8px;
}
.wst-go-details img{
	width: 100%;
	/*margin-bottom: 18px;*/
    height: auto;
}
.wst-go-evaluate{
	/*margin-top:10px;*/
	margin-bottom: 10px;
	font-size: 0.14rem;
	background:#ffffff;
}
.wst-go-evaluate .name{
	float:left;
}
.wst-go-evaluate .info{
	padding:6px 0px;	
}
.wst-go-evaluate .info img{
	float:left;
	width: 16px;
	margin:2px 16px 0px 5px;
}
.wst-go-evaluate .info i{
	float: left;
    width: 14px;
    height: 14px;
	margin:2px 0px 0px 3px; 
}
.wst-go-evaluate .info .bright{
	background: url(../img/img_dpjpj.png) 0px 0px no-repeat;
	background-size: 296%;
}
.wst-go-evaluate .info .dark{
    background: url(../img/img_dpjpj.png) -27px 0px no-repeat;
    background-size: 296%;
}
.wst-go-evaluate .info .time{
	float:right;
	color:#8e8d8d;
}
.wst-go-evaluate .content{
	padding-bottom:3px;
}
.wst-go-evaluate .content img{
	float: left;
    width: 45px;
    height: 45px;
	margin:2px 3px 0px 0px; 
}
.wst-go-evaluate .content .word{
	color:#8e8d8d;
	padding:3px 0px;
}
.wst-go-evaluate .reply{
	padding:10px 0px;
	border-top: 1px solid #edebeb;
}
/*遮盖层*/
.wst-cover{
	position:fixed;
  	left:0px;top:0px;
 	background-color:#000;
  	width:100%;
  	height:100%;
  	filter:alpha(opacity=60);  /*设置透明度为60%*/
  	opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
  	z-Index:9999;
  	display:none;
}
/*参数弹框*/
.wst-fr-box{
    position: fixed;
	z-index: 9999;
    left:0px;
	bottom: -226px;
	width:100%;
	min-height:40%;
	background:#ffffff;
	font-size: 0.15rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	
	display: none;
}
.wst-fr-box .title,.wst-cart-box .title{
	position: relative;
	padding:6px 0px;
	border-bottom: 1px solid #f1f1f1;
}
.wst-fr-box .title em span{
	color: #e60b49;
}
.wst-fr-box .title span{
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: left;
	font-size: 14px;
	margin-left: 160px;
	color: #333333;
}
.wst-fr-box .title i,.wst-cart-box .title i{
	position: absolute;
	right:5px;
	top:-2px;
	font-size: 27px;
}
.wst-fr-box .thumb{
	width: 110px;
	height: 110px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	top: -55px;
	left: 20px;
	background: url("../img/cloth.png") no-repeat;
}
.wst-fr-box .content{
	padding:10px 10px 50px 10px;
}
#content ul li{
	border-bottom: 1px solid #E3E3E3;
	color: #333333;
}
#content ul li p{
	font-size: 16px;
}
#content ul li span{
	display: inline-block;
	border: 1px solid #333;
	border-radius: 10px;
	text-align: center;
	margin-right: 18px;
	font-size: 16px;
	margin-top: 10px;
	line-height: 35px;
}
#content ul .color span{
	height: 35px;
	width: 80px;
	margin-bottom: 16px;
}
#content ul .size span{
	width: 55px;
	height: 35px;
	margin-bottom: 18px;
}
#content ul .number span{
	width:100px;
	border: 1px solid #333;
	border-radius: 10px;
	height: 35px;
	margin-bottom: 18px;
}
#content ul  .number input{
	width: 39px;
	height: 34px;
	border: none;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	text-align: center;
}
#content ul  .number button{
	width: 26px;
	height: 35px;
}


.wst-fr-box .button,.wst-cart-box .button{
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	font-size: 0.185rem;
    height: 40px;
    line-height: 40px;
    color:#ffffff;
    background:#e60b49;
    font-size: 0.18rem;
	border-bottom:1px solid #e60b49;
}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}
/*购物车弹框*/
.wst-cart-box{
	position: fixed;
	z-index: 9999;
    left:0px;
	bottom: -296px;
	width:100%;
	min-height:38%;
	background:#ffffff;
	font-size: 0.15rem;
}
.wst-cart-box .title{
	min-height:68px;
}
.wst-cart-box .picture{
	position: absolute;
    left: 10px;
    top: -12px;
}
.wst-cart-box .picture .img{
	float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
    padding:5px;
    background:#ffffff;
    border-radius:2px;
}
.wst-cart-box .img a{
	width: 70px;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
.wst-cart-box .img a img{
	max-width: 70px;
    max-height: 70px;
}
.wst-cart-box .title p{
	float: left;
    margin: 0px 0px 5px 96px;
    color: #3e3e3e;
    width:53%;
}
.wst-cart-box .title .price{
	font-size: 0.162rem;
    color: #e60b49;
}
.wst-cart-box .title .price .price2{
    margin-left: 12px;
    font-size: 0.145rem;
    color: #707070;
    text-decoration: line-through;
}
.wst-cart-box .standard{
	padding:0px 10px 138px 10px;
}
.wst-cart-box .spec{
	padding:10px 0px;
	border-bottom: 1px solid #f1f1f1;
}
.wst-cart-box .spec p{
	float: left;
    width: 100%;
}
.wst-cart-box .spec .img{
	float: left;
	width: 40px;
	height:40px;
	border-radius:2px;
	margin: 5px 6px 0px 0px;
}
.wst-cart-box .spec .img.active{
	width: 38px;
	height:38px;
	border: 1px solid #e60b49;
}
.wst-cart-box .spec span{
	float: left;
	margin: 5px 6px 0px 0px;
	padding:3px 5px;
	border: 1px solid #a0a0a0;
	border-radius:3px;
	text-align: center;
}
.wst-cart-box .spec span.active{
	color: #ffffff;
	background:#e60b49;
	border: 1px solid #e60b49;
}
.wst-cart-box .number{
	width: 95%;
    position: absolute;
    left: 0;
    bottom: 43px;
    z-Index: 1;
    background: #ffffff;
    padding: 10px 10px 30px 10px;
}
.wst-cart-box .number .stock{
	float:left;
	color: #3e3e3e;
	margin-top:12px;
}
.wst-buy_l{
	font-size: 18px;
	float:right;
	margin-top:3px;
}
.wst-buy_l1,.wst-buy_l3{
    width: 40px;
    height: 30px;
	background:#FFF;
	border:none;
	border:1px solid #dddddd;
	font-size: 30px;
	line-height: 22px;
	float: left;
	border-radius: 5px;
	text-align: center;
}
.wst-buy_l2{
	border:none;
	width:48px;
	height:32px;
	border:1px solid #dddddd;
	text-align:center;
	color:#e60b49;
	float: left;
	border-radius: 5px;
}
.wst-buy_l1:focus,.wst-buy_l3:focus{
	color:#e60b49;
}
.wst-buy_l2:focus{
	width:48px;
	height:32px;
    border:1px solid #e60b49;
}
/*frozenui*/
.ui-tab-nav{
	width: 62%;
	height: 40px;
	float: right;
	margin-right:70px;
}
.ui-tab-nav li.active{
    color: #777;
    border-bottom: 2px solid #e60b49;
}
.ui-tab-nav li{
	height: 42px;
    line-height: 42px;
    /*font-size:0.23rem;*/
   font-size: 0.18rem;
    min-width: 50px;
}