{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<style>
body{overflow:hidden}
</style>
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}' type="text/javascript"></script>
<script src="__ADMIN__/wsysconfigs/wsysconfigs.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<style>
input[type="text"]{width:70%}
textarea{width:70%;height:100px;}
#wst-tab-5 input[type="text"]{width:50%}

</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>

<!-- 经销商本月佣金详情 -->

	<div class="distributor_top" >
		<a href='{:Url("admin/wsysconfigs/index")}' class="left"><返回</a>
		<a href="#" class="right">历史表报表</a>
		<a href="#" class="right">生成报表（Excel格式）</a>
	</div>
	<div class="distributor_list">
		<table class="distributor public">
			<tr class="top img"><td colspan="6">本月佣金详情</td></tr>
			<tr class="top" >
				<th class="customer center">客户(经销商ID)</th>
				<th class="flowing  center">订单流水</th>
				<th class="close center">订单关闭时间</th>
				<th class="commission_time center">分佣时间</th>
				<th class="actual center">实际支付时间</th>
				<th class="commissionn center">佣金</th>
			</tr>
			<tr class="distributor_user1">
				<td>aaa</td>
				<td>aaa</td>
				<td>aaa</td>
				<td>aaa</td>
				<td>aaa</td>
				<td>aaa</td>
			</tr>
		</table>
	</div>

<!-- 经销商本月佣金详情 -->
{/block}