{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<style>
body{overflow:hidden}
</style>
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}' type="text/javascript"></script>
<script src="__ADMIN__/wsysconfigs/wsysconfigs.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<style>
input[type="text"]{width:70%}
textarea{width:70%;height:100px;}
#wst-tab-5 input[type="text"]{width:50%}

</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>

<!-- 省级经销佣金详情 -->

<div class="distributor_top" >
		<a href='{:Url("admin/wsysconfigs/index")}' class="left"><返回</a>
</div>
<div class="distributor_list" >
	<div>
		<table class="distributor" >
			
			<thead >
				<tr class="top img"><td colspan="5">经销商佣金详情</td></tr>
				<tr class="top">
					<th class="Head_portrait1 center" >头像</th>
					<th class="distributor_id1 center" >经销商ID</th>
					<th class="name1 center">姓名</th>
					<th class="commission1 center">本月佣金 <span id="aa">(详情)</span></th>
				</tr>
			</thead>
			
		</table>
			
		</div>
		<div>
			<table class="distributor public">
				<tr class="distributor_user">
					<td class="Head_portrait1 center"><img src="" alt="" style="width:48px;height:48px;margin:0 auto;border:1px red solid;"></td>
					<td class="distributor_id1 center" >aaa</td>
					<td class="name1 center">aaa</td>
					<td class="commission1 center">aaa&nbsp;<span class="xq">详情</span></td>
				</tr>
				<tr class="distributor_user">
					<td class="Head_portrait1 center"><img src="" alt="" style="width:48px;height:48px;margin:0 auto;border:1px red solid;"></td>
					<td class="distributor_id1 center">aaa</td>
					<td class="name1 center">aaa</td>
					<td class="commission1 center">aaa&nbsp;<span class="xq">详情</span></td>
				</tr>
				<tr class="distributor_user">
					<td class="Head_portrait1 center"><img src="" alt="" style="width:48px;height:48px;margin:0 auto;border:1px red solid;"></td>
					<td class="distributor_id1 center">aaa</td>
					<td class="name1 center">aaa</td>
					<td class="commission1 center">aaa&nbsp;<span class="xq">详情</span></td>
				</tr>
				
			</table>
		</div>
	</div>
<!-- 省级经销佣金详情 -->
{/block}